<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Modbus.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Modbus.Common.Properties.Settings>
            <setting name="CommunicationMode" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TCPPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StartAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataLength" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="SlaveId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SlaveDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DisplayFormat" serializeAs="String">
                <value>Integer</value>
            </setting>
            <setting name="Function" serializeAs="String">
                <value>0</value>
            </setting>
        </Modbus.Common.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
